<p id="notice"><%= notice %></p>

  <div class="row">
    <% @photos.each do |photo| %>
      <div class="col-md-4 col-xs-6">
      <%= link_to photo, class: "photo_class" do %>
        <article class="g_area">
          <div class="img_area">
            <%= image_tag photo.image_url(:thumb) %>
          </div>
          <div class="text_area">
            <div class="top clearfix">
              <div class="title">
                <%= photo.caption %>
              </div>
            </div>
            <div class="bottom clearfix">
              <div class="name">
                <% if user_signed_in? %>
                  <%= image_tag current_user.avatar_url %>
                  <%= photo.user.username %>
                <% end %>
              </div>
              <div class="link">
              
              </div>
            </div>
          </div>
        </article>
      <% end %>
      </div><!--/.col-md-3 col-xs-6-->
    <% end %>
  </div><!--/.row-->
